#container {
    text-align: center;
}
canvas {
    background-color: #f3f5f0;
    box-shadow: 0 0 20px #888888;
}
a{
	text-decoration: none;
	color: white;
}
button{
	background-color: #03fcb6;
	border-radius: 5%;
}
h1{
	color: red;
	text-align: center;
	font-family: "Lucida Console", Courier, monospace;
}